#items-container {
  border: red 1px solid;
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* position: absolute; */

}

#inner {
  border: red 1px solid;
  height: 50%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  width: fit-content;
  /* position: absolute; */
  /* justify-content: center; */
}