#items-container {
  border: red 1px solid;
  height: 80vh;
  display: flex;
  width: 100%;
  align-items: center;
  /* overflow: hidden;  */
  position: absolute;

}

#inner {
  border: red 1px solid;
  height: 50%;
  display: flex;
  align-items: center;
  /* display: grid; */
  /* grid-template-rows: repeat(10, auto); */
  left: 0;
  /* overflow: hidden; */
  /* width: auto; */
  position: absolute;
  /* justify-content: center; */
}